*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

.container{
    width: 60%;
    max-width: 400px;
}

.titulo{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.busca{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.busca input{
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
}

.busca button{
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #0099ff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.busca button:hover{
    background-color: #dff6ff;
}

.card-clima{
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);

}

.topo{
    text-align: center;
    margin-bottom: 20px;
}

.topo h2{
    font-size: 2rem;
}

.topo p{
    font-size: 1.1rem;
    opacity: 0.9;
}

.temperatura{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.detalhes{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.info{
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    flex: 1;
}

.info h3{
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.info p{
    font-size: 1.1rem;
    font-weight: bold;
}

.grafico-container{
    margin-top: 15px;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.titulo-grafico{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: rgba(32, 32, 32, 0.774);
}

.grafico-container h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.3rem;
    
}